@using BlazorApp.Server.Models
<EditForm Model="@todo" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Date :</label>
        <div>
            <InputDate @bind-Value="@todo.Date" />
            <ValidationMessage For="@(() => todo.Date)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Title :</label>
            <div>
                <InputText @bind-Value="@todo.Title" />
                <ValidationMessage For="@(() => todo.Title)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Description :</label>
            <div>
                <InputText @bind-Value="@todo.Description"></InputText>
                <ValidationMessage For="@(()=> todo.Description)"></ValidationMessage>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success"> @ButtonText </button>
</EditForm>
@code {
    [Parameter] public Todo todo { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}