@page "/diary"


<h3>Diary</h3>
<div class="form-group">
    <a class="btn btn-success" href="diary/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>
@if (AllDiaries == null)
{
    <text>Loading diaries... </text>
}
else if (AllDiaries.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in AllDiaries)
            {
                <tr>
                    <td>@item.DiaryID</td>
                    <td>@item.Date</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="btn btn-success" href="diary/edit/@item.DiaryID" style="width:70px">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(item.DiaryID))" style="width:70px">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
