<EditForm Model="@diary" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Date :</label>
        <div>
            <InputDate @bind-Value="@diary.Date" />
            <ValidationMessage For="@(() => diary.Date)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Title :</label>
            <div>
                <InputText @bind-Value="@diary.Title" style="width:80%"></InputText>
                <ValidationMessage For="@(() => diary.Title)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Description :</label>
            <div>
                <InputTextArea @bind-Value="@diary.Description" style="width:80%; height:100px"></InputTextArea>
                <ValidationMessage For="@(()=> diary.Description)"></ValidationMessage>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success"> @ButtonText </button>
</EditForm>

